{
  "defaultConfig":{
    "api":"CoreEngine",
    "buildType":"release",
    "libraryDir":"source/lib/",
    "resourcePacksDir":"assets/resource_packs/",
    "behaviorPacksDir":"assets/behavior_packs/"
  },
  "buildDirs":[
    {
      "dir":"source/dev/",
      "targetSource":"source/main.js"
    }
  ],
  "compile":[
    {
      "path":"source/main.js",
      "sourceType":"mod"
    },
    {
      "path":"source/launcher.js",
      "sourceType":"launcher"
    }
  ],
  "resources":[
    {
      "path":"assets/mod_resource/",
      "resourceType":"resource"
    },
    {
      "path":"assets/mod_resource/ui/",
      "resourceType":"gui"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}